
.events-container {
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.events-columns {
  width:32%;
  height:400px;
  margin-bottom:1.6em;
  border: 1px solid #efefef;
  border-radius: 5px;
}

.img-placeholder {
  display: flex;
  align-items: center;
  height:150px;
  overflow: hidden;
}

.img-placeholder img {
  align: middle;
  min-height: 150px;
}

.events-columns .col-header {
  padding:5px 10px;
  font-size:12px;
  background-color: #efefef;
}

.events-tax {
  clear: both;
  font-size:12px;
  padding:5px 0;
  max-height:80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.events-title {
  margin-bottom:5px;
  font-size: 1.6em;
  font-weight: 600;
  line-height: 1em;
  max-height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.events-content {
  font-size:12px;
  padding:10px;
}

@media screen and (max-width: 760px) {
  .events-container {
    display:block;
  }
  .events-columns {
    width:100%;
  }
}
